projet/data/
projet/experimentation/chromagrams/
projet/experimentation/mel_spectrograms/
projet/experimentation/mel_spectrograms_log_scaled/
/projet/experimentation/normalized_spectrograms/
3yp/
/projet/GTZAN_Dataset/